RESULTANT тестовое.rtf
currency.xcodeproj/project.xcworkspace/xcuserdata/olga.xcuserdatad/UserInterfaceState.xcuserstate
currency.xcodeproj/xcuserdata/olga.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
